<%- include('./partials/navbar') %>
<%- include('./partials/header', { title: "Developers", subTitle: ""}) %>

<body>
    <div class="mt-4 container">
        <h3><%= dev.addNameWithCompany() %></h3>
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Project Name</th>
                <th scope="col">Time Line</th>
                <th scope="col">Importances</th>
                <th scope="col">Manage</th>
              </tr>
            </thead>
            <tbody>
              <% devProjects.forEach(project => { %>
                <tr>
                    <th><%= project.Project.project_name %></th>
                    <th><%= project.Project.time_line %></th>
                    <th><%= project.Project.importance %></th>
                    <th>
                      <a class="btn btn-dark" href="/developers/<%= project.id %>/shut-down" onclick="return confirm('Are you sure?')" role="button">remove</a>
                    </th>
                   </tr>
              <% }) %>
            </tbody>
          </table>
    </div>
</body>