<%- include('./partials/navbar') %>
<%- include('./partials/header', { title: "Projects", subTitle: ""}) %>

<body>
    <div class="mt-4 container">
        <h3>Add Project</h3>
        
        <form method="POST">
            <div class="form-group">
              <label>Project Name :</label>
              <input name="project_name" type="text" value="<%= project.project_name %>" class="form-control" placeholder="Enter project name">
            </div>
            <div class="form-group">
              <label>Time Line :</label>
              <input name="time_line" type="text" value="<%= project.time_line %>" class="form-control" placeholder="approximately project can be done (day)">
            </div>

              <label for="">Importances :</label><br>
              <select name="importance" class="form-select" aria-label="Default select example">
                <option >---Importance Level---</option>
                <option <%= project.importance == "low" ? 'selected': '' %> value="low">low</option>
                <option <%= project.importance == "medium" ? 'selected': '' %> value="medium">medium</option>
                <option <%= project.importance == "high" ? 'selected': '' %> value="high">high</option>
              </select><br><br>

            <button type="submit" class="btn btn-dark">Submit</button>
          </form>
    </div>
</body>